.pa-container {
  width: 30%;
  height: 750px;
  font-family: "Ubuntu", sans-serif;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-bottom: 50px;
  box-sizing: border-box;
  position: relative;
}
.pa-banner {
  display: flex;
  position: relative;
  width: 100%;
}
.pa-img {
  width: 50%;
}
.pa-info-box {
  padding: 20px;
}
.pa-title {
  margin-bottom: 10px;
}
.pa-status-box {
  display: flex;
}
.pa-status {
  text-transform: uppercase;
}
.pa-status-icon {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-left: 7px;
  margin-top: 2px;
}
.pa-controlls-container {
  display: flex;
  margin-top: 10px;
}
.pa-update-btn {
  position: relative;
  background-color: #d9d9d9;
  padding: 15px;
  padding-bottom: 10px;

  border-radius: 6px;
  box-sizing: border-box;
  height: 50px;
  cursor: pointer;
}
.pa-update-btn:hover {
  opacity: 0.6;
}
.pa-directions {
  width: 28px;
  height: 28px;
  background-color: #d9d9d9;
  padding: 11px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.pa-directions:hover {
  opacity: 0.6;
}
.back-btn {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #d9d9d9;
  z-index: 999;
  cursor: pointer;
  border-radius: 4px;
}
.arrow-back {
  height: 12px;
  margin-right: 10px;
  z-index: 10;
  margin-top: 4px;
}
.back-btn:hover {
  background-color: white;
}
.votes-box {
  margin-top: 40px;
}
.votes-header {
  font-weight: bold;
}
.votes-container {
  display: flex;
  margin-top: 10px;
}
.votes-img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
.notes-box {
  margin-top: 30px;
}
.notes-header {
  font-weight: bold;
}
.notes-placeholder {
  font-size: 14px;
  color: #595959;
  margin-top: 10px;
}
.notes-user {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.notes-img {
  width: 35px;
  height: 35px;

  border-radius: 100%;
}
.notes-comment-wrap {
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  border-radius: 6px;
  margin-left: 10px;
}
.notes-comment {
  font-size: 14px;
}
.notes-time {
  font-size: 10px;
  margin-top: 2px;
}
.tweets-box {
  margin-top: 50px;
  width: 100%;
}
.tweets-header {
  font-weight: bold;
}
.tweets-feed {
  margin-top: 10px;
}
.tweet {
  width: 100%;
  height: 300px;
  background-color: #ddd;
}
.mobile-controlls {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #312f2f;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.map-btn {
  width: 50%;
  text-align: center;
  padding: 10px;
}
.list-btn {
  width: 50%;
  text-align: center;
  border-left: 2px solid #ddd;
  padding: 10px;
}
.chosen {
  color: #51ffc0 !important;
}

@media (max-width: 850px) {
  .pa-container {
    width: 100% !important;
  }
}
