* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/*
$main-backround: #312f2f;
$main-green: #51ffc0;
$open: #6bff68;
$pending: #ff9e68;
$closed: #f92929;
$nodata: #d9d9d9;
*/

.open {
  background-color: #6bff68;
}
.closed {
  background-color: #f92929;
}
.pending {
  background-color: #ff9e68;
}
.nodata {
  background-color: #d9d9d9;
}

.content-container {
  display: flex;
  width: 100%;
  position: relative;
}
.content-container > :nth-child(1) {
  width: 70% !important;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#google-map {
  width: 70%;
  height: 750px;
  display: block;
  position: relative;
}
.list-container {
  width: 30%;
  height: 750px;
  font-family: "Ubuntu", sans-serif;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-bottom: 50px;
  display: block;
}

.info-window {
  background-color: #312f2f;
  color: white;
}
.info-wrap {
  display: flex;
}
.status {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin-left: 8px;
  margin-top: 6px;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: #312f2f !important;
  padding-top: 5px !important;
}
.gm-style-iw-tc::after,
.gm-ui-hover-effect {
  display: none !important;
}

.chosen {
  color: #51ffc0 !important;
}

@media (max-width: 850px) {
  .content-container > :nth-child(1) {
    width: 100% !important;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: none;
  }
}
